<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:jj="http://xmlns.jcp.org/jsf/composite/ezcomp"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="journalList" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
        <ui:repeat value="#{cc.attrs.journalList}" var="journal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <h:panelGroup class="col-md-1 col-xs-2">
                            <jj:profilePicture imgSrc="#{journal.authorAccount.profilePicture}" style="width:100%" class="img-circle"/>
                        </h:panelGroup>    
                        <div class="col-md-11 col-xs-10">
                            <a href="#"><strong>#{journal.authorAccount.fullName}</strong></a> updated 
                            <strong><h:commandLink value="#{journal.title}" action="#{journalController.viewJournal(journal.journalID)}"/></strong>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-11 col-xs-10 col-md-offset-1 col-xs-offset-2">
                            <p><strong>
                            <h:outputText value="#{journal.entries[0].date}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText> - #{journal.entries[0].location}
                            </strong></p>
                            
                            <p><h:outputText value="#{journal.entries[0].content}" escape="false"/></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </ui:repeat>
        </h:form>
    </cc:implementation>
</html>