<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="imgSrc"/>
        <cc:attribute name="style"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:graphicImage library="imgs" name="defaultProfilePicture.jpg" rendered="#{cc.attrs.imgSrc == null}" style="#{cc.attrs.style}"></h:graphicImage>
        <h:graphicImage library="imgs" name="#{cc.attrs.imgSrc}" rendered="#{cc.attrs.imgSrc != null}" style="#{cc.attrs.style}"></h:graphicImage>
    </cc:implementation>
</html>