<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jj="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:jstlc="http://java.sun.com/jsp/jstl/core">

    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <h:outputStylesheet library="bootstrap" name="css/bootstrap-dialog.css"/>
                <h:outputScript library="bootstrap" name="js/bootstrap-dialog.js"/>
                <script type="text/javascript">
                    
                    $(function(){
                        $("#all-check").click(function(){
                            if ($(this).is(":checked")){
                                $(".single-check").prop("checked", true);
                            }
                            else {
                                $(".single-check").prop("checked", false);
                            }
                        });
                        
                        function updateCheckbox(){
                            if ($(".single-check:not(:checked)").length === 0){
                                    $("#all-check").prop("checked", true);
                                } else {
                                    $("#all-check").prop("checked", false);
                                }
                        }
                        updateCheckbox();
                        
                        $(".single-check").click(function(){
                            updateCheckbox();
                        });
                        
                        $(".remove-btn").click(function(){
                            if ($(this).attr("for") === "delete-selected"){
                                if ($(".single-check:checked").length === 0){
                                    return;
                                }
                            }
                            var forBtn = $("." + $(this).attr("for"))[0];
                            BootstrapDialog.show({
				type: BootstrapDialog.TYPE_WARNING,
				title: "Confirm delete",
				message: "Please confirm if you really want to delete your journal(s)",
				buttons: [{
					label: "Yes",
					cssClass: "btn-warning",
					action: function(dialog){
						$(forBtn).click();
					}
				},{
					label: "No",
					action: function(dialog){
						dialog.close();
					}
				}]
                            });
                        });
                    });
                </script>
            </ui:define>
            
            <ui:define name="body">
                <div class="col-sm-9" style="min-width: 500px;">
                    <h:form rendered="#{journalController.journalList.size() > 0}">
                    <h3>My journals</h3>
                    <table class="table table-bordered">
                        <thead>
                            <th style="width: 1%; white-space: nowrap"><input id="all-check" type="checkbox"/></th>
                            <th>Title</th>
                            <th style="width: 1%; white-space: nowrap">Edit</th>
                            <th style="width: 1%; white-space: nowrap">Delete</th>
                        </thead>
                        <tbody>
                            <ui:repeat value="#{journalController.journalList}" var="journal">
                                <tr>
                                    <td><h:selectBooleanCheckbox class="single-check" value="#{journalController.checkedJournals[journal.journalID]}"/></td>
                                    <td><h:commandLink value="#{journal.title}" action="#{journalController.viewJournal(journal.journalID)}"/></td>
                                    <td>
                                        <h:commandLink action="#{journalController.editJournal(journal.journalID)}" class="btn btn-primary fa fa-edit"/>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-danger fa fa-remove remove-btn" for="remove-#{journal.journalID}"></a>
                                        <h:commandLink style="display: none;" class="remove-#{journal.journalID}" actionListener="#{journalController.deleteJournal(journal.journalID)}"/>
                                    </td>
                                </tr>
                            </ui:repeat>
                        </tbody>
                    </table>
                    
                    <a href="#" class="btn btn-danger remove-btn" for="delete-selected">Delete selected</a>
                    <h:commandLink class="delete-selected" style="display: none;" actionListener="#{journalController.deleteSelectedJournals()}" />
                </h:form>
                    <h:panelGroup rendered="#{journalController.journalList.size() == 0}">
                        <h4 class='alert alert-warning'>You have no journal</h4>
                        <h:form>
                            <h:link outcome="newJournal" class="btn btn-primary" value="Write a journal"></h:link>
                        </h:form>
                    </h:panelGroup>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

