<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="head">
                <h:outputStylesheet library="jquery" name="css/jquery-ui.min.css"/>
                <h:outputScript library="jquery" name="js/jquery-ui.min.js"/>
                <h:outputScript library="jquery" name="js/jquery.hotkeys.js"/>
                <h:outputScript library="bootstrap" name="js/bootstrap-wysiwyg.js"/>
                <script type="text/javascript">
                    $(function () {
                        $('#editor').wysiwyg();
                        $("#editor").cleanHtml();
                        $("#editor").html($(".entry-content").val());
                        
                        $(".date-picker").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: "dd/mm/yy",
                            maxDate: 0
                        });
                        
                    });
                    
                    function formSubmit(){
                        if ($("#editor").text() === "" &amp;&amp; $("#editor").html().indexOf("img") === - 1) {
                        $(".entry-content").val("");
                        }
                        else {
                        $(".entry-content").val($("#editor").html());
                        }
                    }
                </script>
            </ui:define>

            <ui:define name="body">
                <div class="panel col-sm-12">
                    <div class="panel-heading">
                        <div class="panel-title col-sm-offset-1">
                            <h2>#{journalController.journal.title}</h2>
                            <hr/>
                        </div>
                    </div>

                    <div class="panel-body">
                        <h:form class="form-horizontal" id="entry-form" enctype="multipart/form-data">

                            <h:inputTextarea id="content" value="#{journalController.entry.content}" class="entry-content" style="display: none;"/>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Date</label>
                                <div class="col-sm-5">
                                    <h:inputText id="date" class="form-control date-picker" value="#{journalController.entry.date}"
                                                 required="true" requiredMessage="Please select entry date" pt:placeholder="dd/MM/yyyy">
                                        <f:validator validatorId="entryDateValidator"/>
                                        <f:attribute name="entryID" value="#{journalController.entry.entryID}" />
                                        <f:ajax event="valueChange" execute="date" render="date-error" />

                                    </h:inputText>
                                    <h:message for="date" id="date-error" errorClass="text-danger"/>
                                </div>

                                <label class="col-sm-1 control-label">Location</label>
                                <div class="col-sm-5">
                                    <h:inputText id="location" class="form-control" value="#{journalController.entry.location}"/>
                                    <h:message for="location" id="location-error" errorClass="text-danger"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-1">My diary</label>
                                <div class="col-sm-11">
                                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                                        <div class="btn-group">
                                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li><li><a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li><li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li><li><a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial Black</a></li><li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li><li><a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier New</a></li><li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li><li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li><li><a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li><li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida Grande</a></li><li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida Sans</a></li><li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li><li><a data-edit="fontName Times" style="font-family:'Times'">Times</a></li><li><a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times New Roman</a></li><li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li></ul>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                            <a class="btn btn-primary" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                            <a class="btn btn-primary" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="fa fa-list"></i></a>
                                            <a class="btn btn-primary" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="fa fa-list-alt"></i></a>
                                            <a class="btn btn-primary" data-edit="outdent" title="" data-original-title="Reduce indent (Shift+Tab)"><i class="fa fa-indent"></i></a>
                                            <a class="btn btn-primary" data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="glyphicon glyphicon-indent-right"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                            <a class="btn btn-primary" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                            <a class="btn btn-primary" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                            <a class="btn btn-primary" data-edit="justifyfull" title="" data-original-title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="fa fa-chain"></i></a>
                                            <div class="dropdown-menu input-append">
                                                <input class="span2" placeholder="URL" data-edit="createLink" type="text"/>
                                                <button class="btn" type="button">Add</button>
                                            </div>
                                            <a class="btn btn-primary" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="fa fa-chain-broken"></i></a>

                                        </div>

                                        <div class="btn-group">
                                            <a class="btn btn-primary" title="" id="pictureBtn" data-original-title="Insert picture (or just drag &amp; drop)"><i class="fa fa-picture-o"></i></a>
                                            <input data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 40px; height: 40px;" type="file"/>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-primary" data-edit="undo" title="" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                            <a class="btn btn-primary" data-edit="redo" title="" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                        </div>
                                    </div>

                                    <h:message for="content" id="content-error" errorClass="text-danger"/>

                                    <br/>
                                    <h:inputHidden>
                                        <div id="editor" class="well col-md-12" style="min-height: 450px; overflow: scroll; background-color: #fff">
                                        </div>
                                    </h:inputHidden>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8">
                                    &nbsp;
                                    <h:inputHidden value="#{journalController.journal.journalID}"/>
                                    <h:commandLink class="btn btn-primary" id="save-command-link" value="Save" 
                                                   action="#{journalController.saveEntry(journalController.journal.journalID)}" onclick="formSubmit()"/>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

