<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="../template.xhtml">
            <ui:define name="body">

                <div class="col-md-6 col-md-offset-3">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            <h2>New Journal</h2>
                            <hr/>
                        </div>
                    </div>

                    <div>
                        <h:form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <h:inputText id="title" class="form-control" value="#{journalController.journal.title}"
                                                 required="true" requiredMessage="Please enter a title for the journal"/>
                                    <h:message for="title" id="title-error" errorClass="text-danger"/>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-2">
                                    <h:commandButton value="Start writing" class="btn btn-primary" action="#{journalController.createNewJournal()}"/>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

