<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="body">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            <h2>Login</h2>
                            <hr/>
                        </div>
                    </div>
                    
                    <div>
                        <h:panelGroup rendered="#{loginController.errorMessage != null}">
                            <div class="alert alert-danger alert-dismissible text-center" style="width:100%" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                #{loginController.errorMessage}
                            </div>
                        </h:panelGroup>
                        <h:form class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="control-label">Username</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa-fw" aria-hidden="true"></i></span>
                                    <h:inputText id="username" class="form-control" value="#{loginController.username}"
                                                 required="true" requiredMessage="Please enter username" pt:placeholder="Username"/>
                                </div>
                                <h:message id="username-error" for="username" errorClass="text-danger" />
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label">Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                                    <h:inputSecret id="password" class="form-control" value="#{loginController.password}"
                                                   required="true" requiredMessage="Please select a password" pt:placeholder="Password"/>
                                </div>
                                <h:message for="password"  errorClass="text-danger"/>
                            </div>
                            
                            <div class="form-group ">
                                <h:commandButton action="#{loginController.login()}" value="Login" class="btn btn-primary btn-lg btn-block login-button" />
                                <br/>
                                <div class="text-center">
                                    <h:link outcome="register" value="Register" />
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

