<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="./template.xhtml">

        <ui:define name="head">
            <h:outputScript library="custom" name="js/previewImage.js"/>
            <h:outputScript library="fileinput" name="js/fileinput.js"/>
            <h:outputStylesheet library="fileinput" name="css/fileinput.css"/>
            <script type="text/javascript">
                $(function () {
                    var oldProfilePictureURL = $(".profile-picture-preview").attr("src");
                    $(".remove-profile-picture-btn").click(function () {
                        $(".profile-picture-input").val("");
                        $(".profile-picture-preview").attr("src", oldProfilePictureURL);
                    });
                });
            </script>


        </ui:define>

        <ui:define name="body">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h2>Create new account</h2>
                        <hr/>
                    </div>
                </div> 
                <div class="panel-body">
                    <h:panelGroup rendered="#{registerController.errorMessage != null}">
                        <div class="alert alert-danger alert-dismissible text-center" style="width:100%" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            #{registerController.errorMessage}
                        </div>
                    </h:panelGroup>
                    <h:form enctype="multipart/form-data" class="form-horizontal">

                        <div class="form-group">
                            <label for="name" class="control-label">Your Full Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                                <h:inputText id="fullname" class="form-control" value="#{registerController.account.fullName}" 
                                             required="true" requiredMessage="Please enter your full name" pt:placeholder="Enter your full name"/>
                            </div>
                            <h:message for="fullname"  errorClass="text-danger"/>
                        </div>

                        <div class="form-group">
                            <label for="name" class="control-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa-fw" aria-hidden="true"></i></span>
                                <h:inputText id="username" class="form-control" value="#{registerController.account.username}" 
                                             required="true" requiredMessage="Please enter username" pt:placeholder="Enter your username">
                                    <f:validator validatorId="uniqueUsernameValidator" />
                                    <f:ajax event="valueChange" render="username-error"/>
                                </h:inputText>
                            </div>
                            <h:message id="username-error" for="username" errorClass="text-danger" />
                        </div>

                        <div class="form-group">
                            <label for="name" class="control-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                                <h:inputSecret id="password" binding="#{password}" class="form-control" value="#{registerController.account.password}"
                                               required="true" requiredMessage="Please select a password" pt:placeholder="Enter your password"/>
                            </div>
                            <h:message for="password"  errorClass="text-danger"/>
                        </div>

                        <div class="form-group">
                            <label for="name" class="control-label">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                                <h:inputSecret id="password-confirm" class="form-control" pt:placeholder="Confirm your password">
                                    <f:validator validatorId="confirmPasswordValidator"/>
                                    <f:attribute name="password" value="#{password}" />
                                    <f:ajax event="valueChange" execute="password password-confirm" render="password-confirm-error" />
                                </h:inputSecret>
                            </div>
                            <h:message for="password-confirm" id="password-confirm-error" errorClass="text-danger"/>
                        </div>

                        <div class="form-group">
                            <label for="name" class="control-label">Profile picture</label>
                            <div class="input-group">                                    
                                <h:graphicImage library="imgs" name="defaultProfilePicture.jpg" class="profile-picture-preview img-preview-0 img-thumbnail" style="width: 200px; height: 200px;"></h:graphicImage>
                                <h:inputFile id="profile-picture" class="profile-picture-input img-input-0" value="#{registerController.profilePicture}">
                                    <f:validator validatorId="imageUploadValidator"/>
                                    <f:ajax event="valueChange" render="profile-picture-error"/>
                                </h:inputFile>
                                <a class="remove-profile-picture-btn btn btn-warning">Remove Picture</a>
                            </div>
                            <h:message for="profile-picture" id="profile-picture-error" errorClass="text-danger"/>
                        </div>

                        <div class="form-group ">
                            <h:commandButton action="#{registerController.register()}" value="Register" class="btn btn-primary btn-lg btn-block login-button">
                                 <f:ajax execute="@form" />
                            </h:commandButton>
                        </div>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

