<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:jj="http://java.sun.com/jsf/composite/ezcomp">

    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="body">
                <div class="row">
                    <div class="col-sm-9" style="min-width: 500px;">
                        <jj:journalList journalList="#{journalController.journalList}"/>
                    </div>

                    <div class="col-sm-3 hidden-xs">
                        <div class="panel panel-default" style="position: fixed;">
                            <div class="panel-body">
                                <p>Best destinations</p>
                                <ul class="list-unstyled">
                                    <li><a href="#">Paris - France</a></li>
                                    <li><a href="#">Grand Place - Belgium</a></li>
                                    <li><a href="#">Blue Mountains - NSW Australia</a></li>
                                    <li><a href="#">Melbourne - NSW Australia</a></li>
                                    <li><a href="#">Melbourne</a></li>
                                    <li><a href="#">Melbourne</a></li>
                                    <li><a href="#"><small>See more</small></a></li>
                                </ul>

                                <hr/>

                                <p>Most favorited trips</p>
                                <ul class="list-unstyled">
                                    <li><a href="#">Summer in Europe</a></li>
                                    <li><a href="#">Adventure to Southeast Asia</a></li>
                                    <li><a href="#">Into the jungle</a></li>
                                    <li><a href="#">Australia trip</a></li>
                                    <li><a href="#">Australia trip</a></li>
                                    <li><a href="#">Australia trip</a></li>
                                    <li><a href="#"><small>See more</small></a></li>
                                </ul>

                                <hr/>

                                <p>Popular travellers</p>
                                <ul class="list-unstyled">
                                    <li><a href="#">Cuu Son Dang</a></li>
                                    <li><a href="#">Vu Tran</a></li>
                                    <li><a href="#">Going places kid</a></li>
                                    <li><a href="#">Bear Grylls</a></li>
                                    <li><a href="#">Pokemon Go</a></li>
                                    <li><a href="#">Pokemon Go</a></li>
                                    <li><a href="#"><small>See more</small></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

