<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:jj="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>

        <!-- jQuery -->
        <h:outputScript library="jquery" name="js/jquery-1.12.0.min.js"/>

        <!-- Boostrap-->
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.min.css"/> 
        <h:outputScript library="bootstrap" name="js/bootstrap.min.js"/>

        <!-- Font awesome -->
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.min.css"/>

        <ui:insert name="head"></ui:insert>

        <!--	 Boostrap Dialog 
                <link rel="stylesheet" href="./css/bootstrap-dialog.css"/>
                <script src="./js/bootstrap-dialog.js"></script>-->

    </h:head>
    <h:body>
        <!-- Header -->
        <div class="navbar navbar-inverse navbar-fixed-top hidden-xs">
            <div class="container">

                <!-- Logo -->
                <div class="nav-header">
                    <h:link outcome="index" class="navbar-brand">JoJo</h:link>
                </div>
                <!-- End logo -->

                <!-- Search bar -->
                <h:form class="navbar-form navbar-left">
                    <div class="form-group">
                        <h:inputText class="form-control" value="#{journalController.searchKey}"/>
                    </div>
                    <h:commandLink action="#{journalController.searchJournal()}" class="btn btn-default">Search&nbsp;<span class="fa fa-search"></span></h:commandLink>
                </h:form>
                <!-- End search bar -->

                <!-- User menu-->
                <h:panelGroup rendered="#{userController.isLoggedIn}">
                    <div class="nav navbar-nav navbar-right">
                        <div style="padding-top: 5px;">
                            <jj:profilePicture imgSrc="#{userController.loggedInUser.profilePicture}" style="width: 40px; height:40px;"/>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>


                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Hello, #{userController.loggedInUser.fullName} <span class="caret"></span>
                                <h:form class="dropdown-menu">
                                    <li><h:link outcome="newJournal" value="New Journal"/></li>
                                    <li><h:commandLink value="My Journals" action="#{journalController.myJournals()}"/></li>
                                    <li role="separator" class="divider"></li>
                                    <!--<li><a href="#">Edit profile</a></li>-->
                                    <li><h:commandLink value="Logout" action="#{loginController.logout()}"/></li>
                                </h:form>
                            </a>



                        </li>
                    </ul>
                </h:panelGroup>
                <!-- End user menu -->

                <!-- Quick login -->
                <h:panelGroup rendered="#{!userController.isLoggedIn}"> 
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <h:form class="navbar-form">
                                <div class="form-group">
                                    <h:inputText value="#{loginController.username}" class="form-control" pt:placeholder="Username"/>
                                </div>
                                <div class="form-group">
                                    <h:inputSecret value="#{loginController.password}" class="form-control" pt:placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <h:commandButton value="Login" class="btn btn-success" action="#{loginController.login()}">
                                        <f:param name="username" value="#{username}" />
                                        <f:param name="password" value="#{password}" />
                                    </h:commandButton>
                                </div>
                                <div class="form-group">
                                    <h:link value="Register" outcome="register" class="btn btn-primary"/>
                                </div>
                            </h:form>
                        </li>
                    </ul>
                </h:panelGroup>
                <!-- End quick login-->
            </div>
        </div>
        <!-- End header -->

        <!-- Site body -->
        <div class="container" style="margin-top: 70px;">
            <ui:insert name="body"></ui:insert>
        </div>
        <!-- End site body -->
    </h:body>
</html>