<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="./template.xhtml">
            
            <ui:define name="head">
                <h:outputStylesheet library="bootstrap" name="css/bootstrap-dialog.css"/>
                <h:outputScript library="bootstrap" name="js/bootstrap-dialog.js"/>
                <script type="text/javascript">
                    $(function(){
                        $(".remove-entry-btn").click(function(){
                            var removeBtn = $(this).siblings(".remove-entry")[0];
                            BootstrapDialog.show({
				type: BootstrapDialog.TYPE_WARNING,
				title: "Confirm delete",
				message: "Please confirm if you really want to delete this entry",
				buttons: [{
					label: "Yes",
					cssClass: "btn-warning",
					action: function(dialog){
						$(removeBtn).click();
					}
				},{
					label: "No",
					action: function(dialog){
						dialog.close();
					}
				}]
                            });
                        });
                    });                
    
                </script>
            </ui:define>
            
            <ui:define name="body">
                <div class="col-md-11">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h2>#{journalController.journal.title}</h2>
                        </div>
                    </div>

                    <h:panelGroup rendered="#{journalController.journal.entries.size() == 0}">
                        <div class="alert alert-warning" role="alert">There are no entries in this journal</div>
                    </h:panelGroup>
                    <ui:repeat value="#{journalController.journal.entries}" var="entry">
                        <div id="#{entry.date}" class='panel panel-default'>
                            <div class='panel-body'>
                                <h3>
                                    <h:outputText value="#{entry.date}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                                </h3>
                                <p>
                                    <h:outputText value="#{entry.content}" escape="false"/>
                                </p>

                                <h:panelGroup>
                                    <h:form>
                                        <h:inputHidden value="#{journalController.journal.journalID}"/>
                                        <h:commandLink class="btn btn-primary" action="#{journalController.editEntry(entry.entryID)}" rendered="#{journalController.isModifiable}">
                                            <i class='fa fa-edit'></i> Edit
                                        </h:commandLink>
                                        &nbsp;
                                        <h:outputLink value="#" class="btn btn-danger remove-entry-btn" rendered="#{journalController.isRemovable}">
                                            <i class='fa fa-remove'></i> Remove
                                        </h:outputLink>
                                        <h:commandLink class="remove-entry" value="test" style="display: none;" actionListener="#{journalController.deleteEntry(entry.entryID)}" rendered="#{journalController.isRemovable}" />
                                    </h:form>
                                </h:panelGroup>
                            </div>
                        </div>
                    </ui:repeat>
                </div>

                <div class="col-md-1">

                    <h:panelGroup style="position: fixed;">
                        <h:panelGroup rendered="#{journalController.isModifiable}">
                            <h:form> 
                                <h:inputHidden value="#{journalController.journal.journalID}"/>
                                <h:commandButton action="#{journalController.newEntry(journalController.journal.journalID)}" 
                                                 class="btn btn-success" value="New entry"/>
                                <h:messages/>
                            </h:form>
                            <br/>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{journalController.journal.entries.size() > 0 }">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                    <ui:repeat value="#{journalController.journal.entries}" var="entry">
                                        <tr><td><a href="##{entry.date}"><h:outputText value="#{entry.date}"></h:outputText></a></td></tr>
                                    </ui:repeat>
                                </tbody>
                            </table>
                        </h:panelGroup>
                    </h:panelGroup>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

