<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <h4 class="alert alert-success">Your account has been registered successfully. You can now <h:link outcome="login" value="login"/> or return to <h:link outcome="index" value="home page"/></h4>
    </h:body>
</html>

